HTML, body{
    background-color: #292929;
    width:90%;
    height:90%;
}
#gameArea{
    margin-top:2% ;
    width : 40%;
    height : 80%;
}
#gameCanvas {
    background-color: #c7c7c7;
    width : 400px;
    height : 600px;
}